In [ ]:
import sys
sys.path.append('../')

import pandas as pd
import numpy as np

In [2]:
from modules import SwissTargetPredictionProcessing as sttp

In [5]:
path = "/home/sonn/Sonn/Workspace/Projects/Anti-Obesity_GBC_NetworkPharmacology/data/raw/cafeine_targets.csv"
k = 0.1
df1 = sttp.to_DataFrame(path, k)
df1

         0
0     ACHE
1    KCNH2
2  ADORA2A
3  ADORA2B
4   ADORA1
5   ADORA3

In [6]:
path = "/home/sonn/Sonn/Workspace/Projects/Anti-Obesity_GBC_NetworkPharmacology/data/raw/caffeic_acid_targets.csv"
k = 0.1
df2 = sttp.to_DataFrame(path, k)
df2

         0
0      CA2
1    ALOX5
2      CA7
3      CA1
4      CA6
5     MMP9
6     CA12
7     MMP1
8     MMP2
9    PTPN1
10    CA14
11     CA9
12    CA5B
13    CA5A
14     CA3
15  AKR1B1
16    ESR2
17     CA4

In [7]:
path = "/home/sonn/Sonn/Workspace/Projects/Anti-Obesity_GBC_NetworkPharmacology/data/raw/chlorogenic_acid_targets.csv"
k = 0.1
df3 = sttp.to_DataFrame(path, k)
df3

         0
0   AKR1B1
1  AKR1B10
2    MMP13
3     MMP2
4    MMP12
5      APP

In [9]:
result = pd.concat([df1, df2, df3], axis=0, ignore_index=True)

In [11]:
result.columns = ['Target']

In [12]:
result

     Target
0      ACHE
1     KCNH2
2   ADORA2A
3   ADORA2B
4    ADORA1
5    ADORA3
6       CA2
7     ALOX5
8       CA7
9       CA1
10      CA6
11     MMP9
12     CA12
13     MMP1
14     MMP2
15    PTPN1
16     CA14
17      CA9
18     CA5B
19     CA5A
20      CA3
21   AKR1B1
22     ESR2
23      CA4
24   AKR1B1
25  AKR1B10
26    MMP13
27     MMP2
28    MMP12
29      APP

In [13]:
result = result.drop_duplicates()

In [14]:
result

     Target
0      ACHE
1     KCNH2
2   ADORA2A
3   ADORA2B
4    ADORA1
5    ADORA3
6       CA2
7     ALOX5
8       CA7
9       CA1
10      CA6
11     MMP9
12     CA12
13     MMP1
14     MMP2
15    PTPN1
16     CA14
17      CA9
18     CA5B
19     CA5A
20      CA3
21   AKR1B1
22     ESR2
23      CA4
25  AKR1B10
26    MMP13
28    MMP12
29      APP

In [16]:
result.to_csv("../data/final/DrugTargets.csv", index=False)